
/*.footer{
    display: none;
}*/
._contenedor{
    box-sizing: border-box;
    overflow: hidden;

}

 ._medio{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items : center;
    padding: 0;
    margin-top: 10vh;
    font-family: 'Nunito Sans', sans-serif;
    
}

._carousel{
    width: 50%;
    max-height: 50vh;
   /* margin-left: 0%;*/
    overflow: hidden;
}



.titulo{
    
    width: 50%;
    padding: 2rem;
    margin-right: 0;
    box-sizing: border-box;
    
}


/* CHEQUEAR PARA QUE EL SCROLLBAR APAREZCA SOLO CUANDO MUEVO */

/* modificacion scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media (max-width: 960px){

  }
  @media (max-width: 768px){
    
  }
  @media (max-width: 480px){
  
}